#!/bin/sh

echo "Setting AWS environment variables ..."
export AWS_ACCESS_KEY_ID='xxxxxxxxxxxxxxxxxxxx'
export AWS_SECRET_ACCESS_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

echo "Setting Azure environment variables ..."
export ARM_SUBSCRIPTION_ID='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
export ARM_CLIENT_ID='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
export ARM_CLIENT_SECRET='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
export ARM_TENANT_ID='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
export ARM_ENVIRONMENT=public

echo "Setting IBM Cloud environment variables ..."
export IC_API_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

## Azure:

# ❯ az login
# You have logged in. Now let us find all the subscriptions to which you have access...
# [
#   {
#     "cloudName": "AzureCloud",
#     "homeTenantId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
#     "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
#     "isDefault": true,
#     "managedByTenants": [],
#     "name": "Free Trial",
#     "state": "Enabled",
#     "tenantId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
#     "user": {
#       "name": "user@hotmail.com",
#       "type": "user"
#     }
#   }
# ]

# ❯ az account list --query "[].{name:name, subscriptionId:id, tenantId:tenantId}"
# [
#   {
#     "name": "Free Trial",
#     "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
#     "tenantId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
#   }
# ]

# export SUBSCRIPTION_ID='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'

# ❯ az ad sp create-for-rbac --role="Contributor" --scopes="/subscriptions/${SUBSCRIPTION_ID}"
# Creating a role assignment under the scope of "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
#   Retrying role assignment creation: 1/36
# {
#   "appId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
#   "displayName": "azure-cli-2020-04-29-05-27-08",
#   "name": "http://azure-cli-2020-04-29-05-27-08",
#   "password": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
#   "tenant": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
# }

## IBM Cloud:

# ❯ ibmcloud login --sso
# API endpoint: https://cloud.ibm.com
# Region: us-south

# Get One Time Code from https://identity-1.us-south.iam.cloud.ibm.com/identity/passcode to proceed.
# Open the URL in the default browser? [Y/n] >
# One Time Code >
# Authenticating...
# OK

# Select an account:
# 1. Account Name 1 (xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx) <-> 1234567
# 2. Account Name 2 (xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx) <-> 1234567
# Enter a number> 1
# Targeted account Account Name 1 (xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx)


# API endpoint:      https://cloud.ibm.com
# Region:            us-south
# User:              email@mail.com
# Account:           Account Name 1 (xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx)
# Resource group:    No resource group targeted, use 'ibmcloud target -g RESOURCE_GROUP'
# CF API endpoint:
# Org:
# Space:

# ❯ ibmcloud iam api-key-create TerraformKey -d "API Key for Terraform $(date +%m-%d-%Y)" --file terraform_key.json
# Creating API key TerraformKey under f069279a778a48178fc379e99797f887 as johandry@gmail.com...
# OK
# API key TerraformKey was created
# Successfully save API key information to terraform_key.json
# ❯ export IC_API_KEY=$(grep '"apikey":' .terraform_key.json | sed 's/.*: "\(.*\)".*/\1/')